*,
::after,
::before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
html {
  font-size: 100%;
} /*16px*/

body {
  background: #fcfcfc;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #272343;
}
.block {
  min-height: 50vh;
}
.bcg-black {
  background: #042a2b;
}
.container {
  width: 90vw;
  max-width: 730px;
  background: whitesmoke;
  margin: 0 auto;
  margin-top: -200px;
  border-radius: 0.25rem;
  position: relative;
  text-align: center;
  padding: 1.5rem;
}
.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background: #f4e04d;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.container img {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  background: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  box-shadow: var(--dark-shadow);
}
.user-title {
  font-size: 18px;
  margin-bottom: 0;
}
.user-value {
  color: #042a2b;
  font-size: 28px;
}
.values-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}
.icon {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(165, 165, 165);
  transition: all 0.3s linear;
}
.icon:hover {
  color: rgb(100, 100, 100);
}
.active {
  color: rgb(172, 152, 152);
}
.btn {
  margin-top: 2rem;
  background-color: #f4e04d;
  color: #042a2b;
  padding: 0.5rem 1rem;
  border: transparent;
  border-radius: 0.25rem;
  font-weight: 700;
}

@media screen and (max-width: 426px) {
  .values-list {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
}
